{% extends 'base_generic.html' %}
{% load static %}
{% block head %}
  <link href="{% static 'welcome.css' %}"  rel="stylesheet">
{% endblock %}
{% block body %}

  <!-- Header -->
  <header style='min-height: 40rem;padding: 15rem 0;   background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("{% static 'img/background.jpg' %}");background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("{% static 'img/background.jpg' %}");background-size: cover;'>
    <div class="container">
      <div class="mx-auto text-center">
        <h1 style="font-family: 'Varela Round'; font-size: 4rem">KNAPSACK</h1>
        <h2 class="text-white-50" style="padding-top: 2rem;padding-bottom: 4rem">An innovative platform designed to
          empower your campus experience by giving you access to several useful tools.</h2>
        <a href="#signin" class="btn btn-primary js-scroll-trigger">Sign In</a>
        <a href="#signup" class="btn btn-primary js-scroll-trigger">Sign Up</a>
      </div>
    </div>
  </header>

  {% if user.is_authenticated %}
  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50" style="padding: 5rem 0;">
    <div class="container">
      Copyright &copy; HOBOS 2018
    </div>
  </footer>
  {% else %}
  <!-- Login Section -->
  <section id="signin" style="padding: 5rem">
    <div class="container">
      <a name="signin"></a>
      <!-- Sign In Section -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <!-- Left column-->
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/logo_1.jpg' %}" alt="">
        </div>
        <!-- Right Column -->
        <div style="padding: 0 0 0 2rem" class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4 class="text-black-50">Sign In</h4>
            <form action="{% url 'library' %}" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-black-50">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="text-black-50">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
              </div>
              <div class="form-check">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </section>

  <!-- Sign Up Section -->
  <section id="signup" style="padding: 5rem">
    <div class="container">
      <a name="signup"></a>
      <!-- Sign In Section -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <!-- Left column-->
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4 class="text-black-50">Sign Up</h4>
            <form action="{% url 'library' %}" method="POST">
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-black-50">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter Your Email">
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail1" class="text-black-50">Username</label>
                  <input type="email" class="form-control" id="username" placeholder="Enter Your Username">
                </div>
              <div class="form-group">
                <label for="exampleInputPassword1" class="text-black-50">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password">
              </div>
              <div class="form-group">
                  <label for="exampleInputPassword1" class="text-black-50">Confirm assword</label>
                  <input type="password" class="form-control" name="password_comfirm" id="password_confirm" placeholder="Comfirm Your Password">
                </div>
              <div class="form-check">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!-- Right Column -->
        <div style="padding-left: 2rem" class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/logo_2.jpg' %}" alt="">
        </div>

      </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50" style="padding: 5rem 0;">
    <div class="container">
      Copyright &copy; HOBOS 2018
    </div>
  </footer>
  {% endif %}
  <!-- Custom scripts for this template -->
  <script src="{% static 'welcome.js' %}"></script>

{% endblock %}